language: go

go:
 - 1.7
 - 1.8
 - tip

before_install:
  - sudo add-apt-repository ppa:masterminds/glide -y
  - sudo apt-get update -q
  - sudo apt-get install glide -y

install:
  - glide install

script:
 - go test -race $(go list ./... | grep -v /vendor/)